<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gsb_doctors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/saisir"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSBdoctors"
        android:usesCleartextTraffic="true" >

        <activity
            android:name=".saisir"
            android:exported="true"
            android:label="@string/saisir"
            android:theme="@style/Theme.GSBdoctors.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".identification"
            android:exported="true"
            tools:ignore="Instantiatable"
            android:label="@string/connecter">
        </activity>

        <activity
            android:name=".accueil"
            android:exported="true"
            tools:ignore="Instantiatable"
            android:label="@string/accueil">
        </activity>

        <activity
            android:name=".consulter"
            android:exported="true"
            tools:ignore="Instantiatable"
            android:label="@string/consulter">
        </activity>

    </application>
</manifest>